<div class="bg-black pb-3">
  <div class="d-flex  flex-wrap pt-4 pb-4 pe-2 ps-2 justify-content-center">
    <div class="d-flex flex-wrap justify-content-center" style="width: 18rem;">
      <div class="w-100 d-flex justify-content-center">
        <img
          src="./assets/img/LOGO SOUL TAKERS - STICKER-02.png"
          alt=""
          class="w-75 mb-4"
        />
      </div>
      <div class="d-flex w-100 flex-wrap justify-content-center">
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/facebook.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/instagram.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/gorjeo.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/whatsapp.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/youtube.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/contraccion-nerviosa.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/linkedin.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/discordia.png" class="w-75" alt=""></a></div>
       <div class="w-25 p-1 mt-2"><a href=""><img src="./assets/img/reddit.png" class="w-75" alt=""></a></div>
      </div>
    </div>
    <div class="d-flex flex-wrap ms-3" style="width: 18rem;">
      <h3 class="w-100 titulos">ST ESPORTS</h3>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Noticias</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Nosotros</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Patrocinadores</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Carreras</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Contacto</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Negocios</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Directriz de la marca</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Media</a>
    </div>
    <div class="d-flex flex-wrap ms-3" style="width: 18rem;">
      <h3 class="w-100 titulos">TIENDA</h3>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Todos los productos</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Kit PRO</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Camisetas nacionales</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Estilo de vida</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Accesorios</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Hardware</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Descuentos</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Ayuda</a>
    </div>
    <div class="d-flex flex-wrap ms-3" style="width: 18rem;">
      <h3 class="w-100 titulos">EQUIPOS</h3>
      <a href="" class="w-100 mt-1 text-decoration-none texto">League of Legends</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">CS:GO</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Roket League</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Rainbow Six</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Valorant</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Fornite</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Halo</a>
      <a href="" class="w-100 mt-1 text-decoration-none texto">Creadores de contenido</a>
    </div>
    <div class="d-flex flex-wrap m-5" style="width: 30rem;">
      <p class="w-100 texto">Unete a la página para obtener 10% de descuento  en tu primera orden</p>
      <div class="input-group w-100">
          <input type="text" class="form-control" style="height: 3rem;" placeholder="Correo electrónico" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary text-center texto" type="button" id="button-addon2" style="height: 3rem;">Registrarse</button>
        </div>

      <div class="d-flex flex-wrap">
        <h4 class="w-100 mt-3 titulos">Metodos de pago</h4>
<div class="d-flex w-100 flex-wrap">
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/amex.png" class="w-75" alt=""></a></div>
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/apple-pay.png" class="w-75" alt=""></a></div>
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/visa.png" class="w-75" alt=""></a></div>
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/google-pay.png" class="w-75" alt=""></a></div>
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/mc.png" class="w-75" alt=""></a></div>
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/maestro.png" class="w-75" alt=""></a></div>
  <div class="w-25 p-2 mt-2"><a href=""><img src="./assets/img/paypal.png" class="w-75" alt=""></a></div>

</div>
      </div>
    </div>
  
  </div>
  <hr>
  
  <div class="d-flex justify-content-between">
    <div class="ms-2 texto">
      <p>&copy; LAN-ST Esport. todos los derechos reservados</p>
    </div>
    <div class="d-flex ">
      <a href="" class="me-3 text-decoration-none texto">Privacidad</a>
      <a href="" class="me-3 text-decoration-none texto">Imprint</a>
      <a href="" class="text-decoration-none texto">Terminos y condiciones</a>
    </div>
    <div class="me-2 texto">
      <p>Diseño web realizado por Eric Muñoz</p>
    </div>
  </div>
</div>