<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="container.fluid d-flex align-items-center">
          <img
            src="./assets/img/LOGO SOUL TAKERS - STICKER-02.png"
            class="rounded mx-auto d-block"
            height="50rem"
          />
          <p class="lead mt-3">Soul Takers</p>
          <div class="collapse navbar-collapse ms-4" id="navbarNavAltMarkup" >
            <div class="navbar-nav ms-auto d-flex">
              <a class="nav-link active" aria-current="page" href="home">Home</a>
              <a class="nav-link active" href="#">ST Shop</a>
              <a class="nav-link active" href="#">Equipos</a>
              <a class="nav-link active">Noticias</a>
              <a class="nav-link active">Nosotros</a>
              <a class="nav-link active" href="login">ST Army</a>
            </div> 
          </div>
        </div>
      </a>
      
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
   
  </nav>
